@import './animation.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}



.container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


header,
footer {
  position: relative;
  button {
    height: 48px;
    padding: 15px;
    margin: 0;
    // width: 48px;
    border: none;
    font-size: 16px;
    color: #666;
    background: rgb(165, 248, 41);
  }
}

header {
  button {
    position: absolute;
    top: 0;
    right: 0;

  }
}

footer {
  display: flex;
  button {
    flex-grow: 1;
  }
}




.hidden {
  height: 0;
}


.fa-plus {
  float: right;
}

.complete {
  color: gray;
  text-decoration: line-through;
}

ul.list,
form > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 23px;
    height: 40px;
    background: #fff;
    color: #666;
    line-height: 40px;
    transition: all ease-in-out .2s;

    li:nth-child(even) {
      background: #f7f7f7;
    }
  }

}

ul.list {
  li {
    span {
      float: right;
      background: red;
      color: white;
      width: 0;
      text-align: center;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  li:hover {
    font-weight: 700;
    transform: scale(1.02);
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    z-index: 99;

    span {
      width: 50px;
      opacity: 1;
    }
  }
}

form > ul {
  li {
    padding: 0;
    input {
      display: inline-block;
    }
    label {
      display: inline-block;
    }
    input[type='radio'] {
      width: auto;
      display: inline-block;
    }
  }

  li.priority {
    p {
      padding: 0;
      margin: 0;
    }

    padding-left: 23px;
    padding-right: 20px;
    height: auto;
  }

  input[type='text'] {
    font-size: 16px;
    background-color: #f7f7f7;
    color: #2980b9;
    width: 100%;
    height: 40px;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0)
  }

  input:focus {
    outline: none;
    background: white;
    border: 3px solid #2980b9;
  }

}

.flex {
  display: flex;
  justify-content: space-between;
}


/*=============================================
=            New Project
=============================================*/
#new-project-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(102, 102, 102, 0.699);
  animation: fadeIn .2s ease-in-out 1 forwards;
}


/*=====  End of   New Project  ======*/
